################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/LearnOpenGL/v15
/Debug
/LearnOpenGL/Debug/LearnOpenGL.tlog
/LearnOpenGL/Debug
/LearnOpenGL/x64/Debug
